<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <div class="ui sidebar inverted vertical menu sidebar-menu" id="sidebar"><br>
    <div class="item" style="font-size: 16px;">
        <div class="header">General</div>
        <div class="menu">
            <a href="http://localhost/site/stage/index2.html#" class="item">
                <div style="font-size: 15px;">
                    <i class="icon home"></i> Menu principal
                </div>
            </a>
        </div> 
    </div>
    <div class="item" style="font-size: 16px;">
        <div class="header">Etudiant</div>
        <div class="menu">
            <a href="/listes_etudiant" class="item">
                <div style="font-size: 15px;">
                    <i class="icon th list"></i></i> Listes des étudiants 
                </div>
            </a>
            <a href="/ajout_etudiant" class="item">
                <div style="font-size: 15px;">
                    <i class="icon user plus"></i> Ajouter Etudiant
                </div>
            </a>
        </div> 
    </div>
    
    <div class="item">
        <div class="header" style="font-size: 16px;">Formation</div>
        <div class="menu">
            <a href="/listes_matiere" class="item">
                <div style="font-size: 15px;">
                    <i class="icon th list"></i> Listes des formations
                </div>
            </a>
            <a href="/ajout_matiere" class="item">
                <div style="font-size: 15px;">
                    <i class="icon plus square"></i> Ajouter Formation
                </div>
            </a>
        </div> 
    </div>


    <div class="item">
        <div class="header" style="font-size: 18px;">Boîte de réception</div>
        <div class="menu">
            <a href="http://localhost:3001/listes_message" class="item">
                <div style="font-size: 15px;">
                    <i class="icon th list"></i>Messages
                </div>
            </a>
           
        </div> 
    </div>
    <div class="item">
        <div class="header" style="font-size: 16px;">To do list</div>
        <div class="menu">
            <a href="http://localhost/site/stage/todolist.html" class="item">
                <div style="font-size: 15px;">
                    <i class="icon  plus"></i> Ajouter une tâche
                </div>
            </a> 
          
        </div> 
    </div>

    <div class="item">
        <div class="header" style="font-size: 18px;">Admin</div>
        <div class="menu">
            <a href="http://localhost:3000/register" class="item">
                <div style="font-size: 15px;">
                    <i class="icon user plus"></i> Ajouter Admin
                </div>
            </a> 
          
        </div> 
    </div>

    
        

   
    <a href="http://localhost/site/stage/chart.html" class="item">
        <div style="font-size: 16px;">
            <i class="icon chart line"></i>Statistiques
        </div>
    </a>      
    <br><br><br>
    <a href="http://localhost:3000/login" class="item">
        <div style="font-size: 16px;">
            <i class="icon sign-out"></i> Déconnexion
        </div>
    </a>    
</div>


</body>
</html>